.vs
src/Api/bin
src/Api/obj
src/IdentityServer/bin
src/IdentityServer/obj
src/Client/bin
src/Client/obj
src/WebClient/bin
src/WebClient/obj
src/IdentityServer/.azure
src/IdentityServer/keys
src/WebClient/.azure
.fake